.form{
    flex: 0.35;
    padding-top: 200px;
    padding-left: 20px;
    width: 100%;
}


.form-group-name{
    padding-top: 20px;
    font-size: 16px;
    width: 94%; 
}



.form-group-time{
    display: flex;
    padding-top: 20px;
}


.button{
    font-size: 40px;
    background-color: var(--app-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.button:hover {
    background-color: #3a8ac5;
}

.customDatePicker{
    width: 100%;
}

.customDatePicker input {
    font-size: 32px; 
    width: 100%;
}

.customDatePicker label {
    font-size: 20px; /* ここで任意のサイズに変更します */
}

.customTimePicker label{
    font-size: 20px;
}

.customTimePicker input{
    font-size: 32px;
    width: 100%;
}

.customTimePicker {
    padding-top: 20px;
    padding-right: 30px;
}

.nameForm{
    font-size: 32px;
    padding: 12px;
    height: 50px;
    width: 100%;
}

